<h1>Insta Catch</h1>

<br>
<p>
	Enter the URL of the Instagram to which you want to know the image or video address.
</p>
<form action="/req" method="post">
	<label for="url">URL</label>
	<input type="text" id="url" name="url">
	<button type="submit">검색</button>
</form>