<h1>Insta Catch</h1>

<br>
<p>
	Enter the URL of the Instagram to which you want to know the image or video address.
</p>
<form action="/req" method="post">
	<label for="url">URL</label>
	<input type="text" id="url" name="url">
	<button onclick="del()">x</button>
	<button type="submit">Search</button>
</form>

<script type="text/javascript">
	function del(){
		document.getElementById('url').value = '';
	}
</script>