body {
  padding: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
h1, h2 {
  padding: 15px;
}
a {
  display: block;
  color: #00B7FF;
  overflow: hidden;
  word-break: break-all;
}
p {
  padding: 10px;
}

img {
  max-width:100%;
}

form {
  margin: 10px;
}